@import '../../styles/mixins.scss';

.loader-wrapper {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader-text {
        width: max-content;
        height: max-content;
        font-size: 1.5rem;

        .dot {
            animation: dot-blink 1s infinite;
            animation-delay: calc(0.2s * var(--i));
        }

        .dot:nth-child(1) {
            --i: 1;
        }

        .dot:nth-child(2) {
            --i: 2;
        }

        .dot:nth-child(3) {
            --i: 3;
        }

        @keyframes dot-blink {

            0%,
            100% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }
        }
    }
}